body {
  font-family: Arial;
  background: #eef4ff;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 420px;
  margin: auto;
}

h1 {
  text-align: center;
}

select, input, button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.delete {
  background: red;
  margin-top: 10px;
}