body {
  font-family: Arial;
  background: #eef4ff;
  padding: 20px;
}

.container {
  max-width: 420px;
  margin: auto;
}

h1 {
  text-align: center;
}

select, input, button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.doctor-btn {
  background: #28a745;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.delete {
  background: red;
}

.whatsapp {
  background: #25D366;
  margin-top: 8px;
}
